<div class="info">
  <div class="info-cont">
    <div>
      <button class="readmore smooth btn go-up">
        <a class="smooth" href="#up"
          ><i class="fas fa-arrow-up"></i> Go Up</a
        ></button
      ><br />
      <!--start of my advert-->
      <h5>Want to build a website?</h5>

      <button
        class="btn readmore"
        type="button"
        data-toggle="collapse"
        data-target="#collapseAdvert"
        aria-expanded="true"
        arial-controls="collapseAdvert"
      >
        <i class="fas fa-envelope"></i> Get in touch
      </button>
      <br />
      <div class="container collapse clearfix" id="collapseAdvert">
        <div class="formgrp">
          <form action="/contactsoji" method="POST">
            <h4 style="text-align: center;">Send me a message</h4>
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control myctrl"
                id="exampleInputPassword1"
                placeholder="Name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                placeholder="Email address"
                name="email"
                class="form-control myctrl"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="phone"
                placeholder="Phone number"
                class="form-control myctrl"
                id="exampleInputPassword1"
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control myctrl"
                name="message"
                placeholder="Type your message..."
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <input type="submit" class="readmore myctrl btn" value="Send" />
          </form>
        </div>
        <p>
          <i class="fas fa-phone"></i>+2348079588943
          <span><i class="fas fa-envelope"></i>esohjay3@gmail.com</span>
        </p>
      </div>
      <!--end of my advert-->
      <br />

      <div class="socialmedia formgrp">
        <h5><strong>Follow me</strong></h5>
        <a href="#" class="social-icon">
          <i class="fab fa-facebook"></i>
        </a>
        <!-- end of social icon -->
        <!-- social icon -->
        <a href="#" class="social-icon">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- end of social icon -->
        <!-- social icon -->
        <a href="#" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
      <h4>About GBlog</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga aliquid
        doloremque porro magni atque maiores sit ab tempore soluta rem! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Aliquam, delectus.
        Nihil recusandae qui nisi molestias et, nesciunt autem vitae itaque?
      </p>
      <div class="sitelink">
        <h4>Site Links</h4>
        <a href="#about">About me</a>
        <a href="/contact">Contact</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms of service</a>
      </div>
    </div>
  </div>
</div>
