<%- include ('./partials/header') -%>
<div class="container">
  <div class="formgrp">
    <h3 class="logreg">Login</h3>
    <form action="/login" method="POST">
      <div class="form-group">
        <input
          type="text"
          class="form-control myctrl"
          name="username"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control myctrl"
          name="password"
          placeholder="Password"
        />
      </div>
      <input type="submit" value="Login" class="readmore btn myctrl" />
    </form>
    <div class="logreg">
      <a href="/forgot">Forgot your password?</a>
      <p>Don't have an account? <a href="/register">Sign up</a></p>
    </div>
    <a class="btn readmore" href="/">Go back</a>
  </div>
</div>
<%- include ('./partials/footer') -%>
