<%- include ('partials/header') -%>
<div class="container">
  <div class="formgrp">
    <form action="/reset/<%= token %>" method="POST">
      <h3>Reset Password</h3>
      <div class="form-group">
        <input
          type="password"
          name="password"
          value=""
          placeholder="New password"
          autofocus="autofocus"
          class="form-control myctrl"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="confirm"
          value=""
          placeholder="Confirm password"
          class="form-control myctrl"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn readmore myctrl">
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>
<%- include ('partials/footer') -%>
