<%- include ('../partials/header') -%>
<div class="container">
  <div class="formgrp">
    <h3>New Blog</h3>
    <form action="/blogs" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input
          type="text"
          name="title"
          class="myctrl form-control"
          placeholder="Title"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="category"
          class="myctrl form-control"
          placeholder="Category"
          required
        />
      </div>

      <div class="form-group">
        <input
          class="readmore btn"
          type="file"
          id="blogImage"
          name="blogImage"
          accept="blogImage/*"
          required
        />
      </div>

      <div class="form-group">
        <textarea
          class="myctrl form-control"
          name="text"
          cols="30"
          rows="10"
          required
        ></textarea>
      </div>

      <input class="readmore btn myctrl" value="Post" type="submit" />
    </form>
  </div>
</div>
<%- include ('../partials/footer') -%>
